[Unit]
Description=run dev-story prod-app-up every 15 min

[Timer]
OnBootSec=3min
OnUnitActiveSec=15min
AccuracySec=30s

[Install]
WantedBy=timers.target
